workshop.json
[
    {
        "id": "aeaf26d.8f3e7d8",
        "type": "inject",
        "z": "798ceef5.5523e",
        "name": "Initialize",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 128,
        "y": 129,
        "wires": [
            [
                "7c1c0ec6.60528"
            ]
        ]
    },
    {
        "id": "7c1c0ec6.60528",
        "type": "pos_configure",
        "z": "798ceef5.5523e",
        "name": "",
        "enable_raw_notification": "false",
        "enable_euler_notification": "0",
        "sampling_frequency": "1",
        "tap_notification": "false",
        "dtap_notification": "true",
        "freefall_notification": "true",
        "tilt_notification": "false",
        "wakeup_notification": "false",
        "pedometer_notification": "true",
        "x": 548,
        "y": 109,
        "wires": [
            [
                "1574e6cd.284949"
            ]
        ]
    },
    {
        "id": "1574e6cd.284949",
        "type": "serial out",
        "z": "798ceef5.5523e",
        "name": "",
        "serial": "96941ac8.c44888",
        "x": 1278,
        "y": 249,
        "wires": []
    },
    {
        "id": "569baf6.0baa15",
        "type": "pos_enable",
        "z": "798ceef5.5523e",
        "name": "",
        "enabled": "true",
        "x": 558,
        "y": 69,
        "wires": [
            [
                "1574e6cd.284949"
            ]
        ]
    },
    {
        "id": "49953d4c.dbf274",
        "type": "inject",
        "z": "798ceef5.5523e",
        "name": "Enable",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 138,
        "y": 69,
        "wires": [
            [
                "569baf6.0baa15",
                "6c6a9ef0.35adb"
            ]
        ]
    },
    {
        "id": "2747d1bd.d6c4be",
        "type": "pos_notification_catch",
        "z": "798ceef5.5523e",
        "name": "",
        "x": 268,
        "y": 529,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "522961e1.ea0f6",
        "type": "serial in",
        "z": "798ceef5.5523e",
        "name": "",
        "serial": "f434d563.920298",
        "x": 98,
        "y": 369,
        "wires": [
            [
                "2747d1bd.d6c4be",
                "ddee712b.136b8",
                "e5613733.cd8ec8"
            ]
        ]
    },
    {
        "id": "ddee712b.136b8",
        "type": "env_notification_catch",
        "z": "798ceef5.5523e",
        "name": "",
        "x": 288,
        "y": 269,
        "wires": [
            []
        ]
    },
    {
        "id": "6c6a9ef0.35adb",
        "type": "env_enable",
        "z": "798ceef5.5523e",
        "name": "",
        "enabled": "true",
        "pressure": "true",
        "temperature": "true",
        "humidity": "true",
        "lux": "true",
        "x": 558,
        "y": 29,
        "wires": [
            [
                "1574e6cd.284949"
            ]
        ]
    },
    {
        "id": "350380ed.52f77",
        "type": "inject",
        "z": "798ceef5.5523e",
        "name": "Read",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "x": 138,
        "y": 209,
        "wires": [
            [
                "22026a45.14d726",
                "bb845e1f.25d5f"
            ]
        ]
    },
    {
        "id": "22026a45.14d726",
        "type": "env_read",
        "z": "798ceef5.5523e",
        "name": "",
        "x": 508,
        "y": 209,
        "wires": [
            [
                "1574e6cd.284949"
            ]
        ]
    },
    {
        "id": "3681709d.cbd82",
        "type": "inject",
        "z": "798ceef5.5523e",
        "name": "RESET",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 98,
        "y": 749,
        "wires": [
            []
        ]
    },
    {
        "id": "e5613733.cd8ec8",
        "type": "system_status_get",
        "z": "798ceef5.5523e",
        "name": "",
        "x": 318,
        "y": 389,
        "wires": [
            []
        ]
    },
    {
        "id": "bb845e1f.25d5f",
        "type": "system_status",
        "z": "798ceef5.5523e",
        "name": "",
        "x": 568,
        "y": 169,
        "wires": [
            [
                "1574e6cd.284949"
            ]
        ]
    },
    {
        "id": "96941ac8.c44888",
        "type": "serial-port",
        "z": "798ceef5.5523e",
        "serialport": "/dev/ttySAC3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "f434d563.920298",
        "type": "serial-port",
        "z": "798ceef5.5523e",
        "serialport": "/dev/ttySAC3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]